<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="POST">
        <input type="text" name="send_user_id">
        <input type="submit">
    <textarea style="resize: none;">{{data}}</textarea>
    </form>

    <form method="POST">
        <label>Password without ID</label>
        <textarea style="resize: none;" name="generate_password">{{password_without_id}}</textarea>
        <button>Generate password</button>
    </form>


</body>
</html>